---
layout: page
title: Links
header: Links
group: navigation
---
{% include JB/setup %}

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Social Networks</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="mdi-action-settings"></i>
          </div>
          <div class="row-content image-wrapper">
            <a href="https://github.com/KhasMek" target="_blank" title="Khasmek's GitHub">
              <img alt="KhasMek's GitHub" src="assets/images/github-logo.png" style="margin: 5px;">
            </a>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="mdi-action-settings"></i>
          </div>
          <div class="row-content image-wrapper">
            <a href="https://twitter.com/khasmek" target="_blank" title="Twitter">
              <img alt="Twitter" src="assets/images/twitter-logo.png" style="margin: 5px;">
            </a>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="mdi-action-settings"></i>
          </div>
          <div class="row-content image-wrapper">
            <a href="https://plus.google.com/+KhasMek" target="_blank" title="Google Plus">
              <img alt="Google Plus" src="assets/images/google-plus-logo.png" style="margin: 5px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Cool Projects and Stuffs</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="mdi-action-settings"></i>
          </div>
          <div class="row-content image-wrapper">
            <a href="https://aokp.co" target="_blank" title="AOKP">
              <img alt="AOKP" src="assets/images/aokp-logo.png" style="margin: 5px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Site Navigation</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        {% for page in site.pages %}
        {% unless page.title == "Terrible Thoughts" %}
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="mdi-action-settings"></i>
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading">
              <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
              {% include JB/pages_list %}
            </h4>
            {% unless page.header == empty %}
            <p class="list-group-item-text">{{ page.header }}</p>
            {% endunless %}
          </div>
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
